@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8ca883;
  --foreground: #1c1917;
  /* stone-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #7a9372;
}

::-webkit-scrollbar-thumb {
  background: #5b4d7e;
  /* Purple thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c4069;
}