@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
body {
  overflow-x: hidden;
  font-family: 'Libre Baskerville', serif;
  background-color:    #8ca883  ;
}

/* Navbar css */
.navbar {
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: .1rem;
  background-color: rgba(0,0,0, 0.6)!important;
}

.navbar-brand img {
  height: 2.3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1e69e2b7;
}

/* Landing Page css */
.home-inner {
  background-image: url(img/lighthouse.jpg); 
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute; 
  top: 38%; 
  z-index: 1; 
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#title-name {
  font-size: 100px;
}

#title-title {
  font-size: 50px;
}

@media only screen and (max-width:540px) {
  #title-name {
    font-size: 50px;
  }
  
  #title-title {
    font-size: 30px;
  }
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700; 
  letter-spacing: .3rem; 
  padding-bottom: 1rem;
}

.caption h4 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.img-fluid {
  border-radius: 50%;
  border: 5px solid #655d80;
  width: 80%;
}

#profile-img {
  background: url('img/me.jpg');
  background-size: contain;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  Object-Fit: cover;
}

#profile-img:hover {
  background-image: url('img/me2.jpg');
}

.cv-button {
  background-color: #655d80;
  border-radius: 25%;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.cv-button:hover {
  background-color: rgb(170, 42, 187);
}

/* Navigation bar for the resume section */
#navigation {
  top: 180px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0; 
}

#navigation ul {
  margin: 0;
  padding: 0; 
}

#navigation li {
  font-weight: 700;
  list-style: none;
  margin-bottom: 10px; 
}

#navigation li a {
  color: #000000; 
}

/* Actual Resume section css */
.resume {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px; 
}

.resume .text {
  width: calc(100% - 50px); 
}

.resume .date {
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  color: #655d80; 
}

.resume h2 {
  font-size: 24px;
  font-weight: 700; 
}

.resume h3 {
  font-size: 16px;
  color: #655d80;
  font-weight: 700; 
}

.project-icon {
  background-color: none;
  text-decoration: none;
  color: #655d80;
}

.project-icon:hover {
  color: #a01e95b7
}

.resume .position {
  font-size: 18px;
  font-weight: 700;
  color: #000000; 
}

.resume-section {
  padding: 7em 0;
  position: relative; 
}
  
@media (max-width: 767.98px) {
  .resume-section {
    padding: 6em 0; 
  } 
}

.brown-list {
  font-size: 15px;
}

.job-list {
  padding: 5px;
}

p {
  font-size: 18px;
}

.page-footer {
  background-color: #655d80;
}

.page-footer h1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact {
  color: black;
}

.page-footer h5 {
  padding-top: 25px;
}


a:link {
    color: #655d80;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #655d80;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #a01e95b7;
    background-color: transparent;
    text-decoration: underline;
  }